# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [51]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [52]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

622

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [53]:
city_data_pd = pd.DataFrame({"City": [""], "Cloudiness": [""], "Country": [""],
                            "Date": [""], "Humidity": [""], "Lat": [""], "Lng": [""],
                            "Max Temp": [""], "Wind Speed": [""]})

In [54]:
units = "Imperial"
query_url_list = []
weather_data = []

try:
    for city in cities:
        url = "http://api.openweathermap.org/data/2.5/weather?"
        query_url = f"{url}&appid={api_key}&q={city}&units={units}"
        
        weather_response = requests.get(query_url)
        weather_json = weather_response.json()
        
        cloudiness = weather_json["clouds"]["all"]
        country = weather_json["sys"]["country"]
        date = weather_json["dt"]
        humidity = weather_json["main"]["humidity"]
        lat = weather_json["coord"]["lat"]
        lng = weather_json["coord"]["lon"]
        city = weather_json["name"]
        max_temp = weather_json["main"]["temp_max"]
        wind_speed = weather_json["wind"]["speed"]
        
        city_data_pd = city_data_pd.append({'City' : city, 'Cloudiness' : cloudiness, 
                                           'Country': country, 'Date': date, 'Humidity': humidity,
                                           'Lat' : lat, 'Lng' : lng, 'Max Temp' : max_temp,
                                           'Wind Speed' : wind_speed}, ignore_index=True)
except KeyError:
    print("Continuing with the code...")

Continuing with the code...

In [55]:
city_data_pd

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,,,,,,,,,
1,New Norfolk,0,AU,1551206240,81,-42.78,147.06,46.4,11.41
2,Ostersund,20,SE,1551205200,69,63.18,14.64,39.99,4.7
3,Ilulissat,20,GL,1551203400,78,69.22,-51.1,8.6,6.93
4,Saint George,40,GR,1551205995,61,39.45,22.34,50,1.7
5,Punta Arenas,20,CL,1551205991,54,-53.16,-70.91,53.6,11.41
6,Havre-Saint-Pierre,75,CA,1551204060,85,50.23,-63.6,23,16.11
7,Makakilo City,90,US,1551206150,68,21.35,-158.09,70,5.82
8,Mar del Plata,76,AR,1551206197,35,-46.43,-67.52,73.27,16.98
9,East London,40,ZA,1551204000,77,-33.02,27.91,69.8,17.22
10,Fort Nelson,40,CA,1551204000,84,58.81,-122.69,8.6,5.82
11,Chernyshevskiy,80,RU,1551206247,68,63.01,112.47,13.11,8.75
12,Dikson,36,RU,1551206247,82,73.51,80.55,-5.89,36.22
13,Esperance,40,TT,1551205922,55,10.24,-61.45,86,14.99
14,Ushuaia,40,AR,1551204000,70,-54.81,-68.31,46.4,38.03

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [56]:
city_data_pd.to_csv(output_data_file)

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot