### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [139]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [140]:
# Find unique player count
total_players = purchase_data["SN"].value_counts()
total = total_players.count()
total_df = pd.DataFrame([{"Total Players": total}])
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [141]:
# Calculate unique items
unique_items = purchase_data["Item ID"].value_counts()
unique_total = unique_items.count()

# Calculate average price
average_price = purchase_data["Price"].mean()
average_price = round(average_price, 2)

# Calculate number of purchases
number_purchases = purchase_data["Purchase ID"].count()

# Calculate total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

# Create dataframe to store and present table
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": unique_total, "Average Price": average_price, 
                                        "Number of Purchases": number_purchases, "Total Revenue": total_revenue}])

purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map('${:,.2f}'.format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map('${:,.2f}'.format)

purchasing_analysis_df = purchasing_analysis_df[["Number of Unique Items", "Average Price", 
                                                "Number of Purchases", "Total Revenue"]]

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [142]:
# Calculate unique male count and male percent
genders = purchase_data[["SN", "Gender"]]
genders_male = genders.loc[genders["Gender"] == "Male", :]
males = genders_male["SN"].value_counts()
male_count = males.count()
male_percent = round((male_count/total)*100,2)

# Calculate unique female count and female percent
genders_female = genders.loc[genders["Gender"] == "Female", :]
females = genders_female["SN"].value_counts()
female_count = females.count()
female_percent = round((female_count/total)*100,2)

# Calculate unique other count and other percent
genders_other = genders.loc[genders["Gender"] == "Other / Non-Disclosed", :]
other = genders_other["SN"].value_counts()
other_count = other.count()
other_percent = round((other_count/total)*100,2)

# Create dataframe to store and present table
info = {'Gender': ["Male", "Female", "Other/Non-Disclosed"], 'Total Count': [male_count, female_count, other_count], 
     'Percentage of Players': [male_percent, female_percent, other_percent]}

gender_demo_df = pd.DataFrame(data=info)

gender_demo_df

                Gender  Total Count  Percentage of Players
0                 Male          484                  84.03
1               Female           81                  14.06
2  Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [143]:
# Female Purchase Count
d = purchase_data["Gender"]
female_list = d[genders["Gender"] == "Female"]
female_purchase_count = female_list.count()

# Male Purchase Count
male_list = d[genders["Gender"] == "Male"]
male_purchase_count = male_list.count()

# Other Purchase Count
other_list = d[genders["Gender"] == "Other / Non-Disclosed"]
other_purchase_count = other_list.count()

# Average Female Purchase Price, total purchase value
gender_prices = purchase_data[["Gender", "Price"]]
female_prices_list = gender_prices.loc[genders["Gender"] == "Female", :]
female_prices = female_prices_list["Price"]
total_female_price = female_prices.sum()
avg_female_price = round(total_female_price/female_purchase_count, 2)

# Average Male Purchase Price, total purchase value
male_prices_list = gender_prices.loc[genders["Gender"] == "Male", :]
male_prices = male_prices_list["Price"]
total_male_price = male_prices.sum()
avg_male_price = round(total_male_price/male_purchase_count, 2)

# Average Other Purchase Price, total purchase value
other_prices_list = gender_prices.loc[genders["Gender"] == "Other / Non-Disclosed", :]
other_prices = other_prices_list["Price"]
total_other_price = other_prices.sum()
avg_other_price = round(total_other_price/other_purchase_count, 2)

# Average Unique Male Total Purchase

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame